<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HOME - Registros</title>

</head>
<body>

    <!-- Header & Nav -->
    <div>
        <h1 class="text-center mt-3 text-secondary">GESTOR DE ALMACENAMIENTO</h1>
        <nav class="navbar navbar-light" style="background-color:#E5E7E9">
            <div class="d-flex mt-1 mb-1">
                <a onclick="window.location.href='registros'" class="btn btn-light disabled btn-md ms-5">Registros</a>
                <a onclick="window.location.href='crear-registro'" class="btn btn-light btn-md ms-3">Agregar Registro</a>
            </div>
            <div>
                <form class="d-flex me-5">
                    <input class="form-control me-2" type="search" placeholder="Buscar Lote" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </div>

        <!-- Tabla -->
    <div class="container mt-3">
        <div class="card text-center">
        <div class="card-header card-title"> Registros </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Presentación</th>
                        <th scope="col">Lote</th>
                        <th scope="col"># Estiba</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Cuarto</th>
                        <th scope="col">Lado</th>
                        <th scope="col">Rack</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Posición</th>
                    </tr>
                </thead>

                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ registro.tipo }}</td>
                        <td>{{ registro.presentacion }}</td>
                        <td>{{ registro.lote }}</td>
                        <td>{{ registro.estiba_n }}</td>
                        <td>{{ registro.cantidad }}</td>
                        <td>{{ registro.cuarto }}</td>
                        <td>{{ registro.lado }}</td>
                        <td>{{ registro.rack }}</td>
                        <td>{{ registro.nivel }}</td>
                        <td>{{ registro.posicion }}</td>
                        <td>
                            <button onclick="window.location.href='/complete/{registro_id}'" type="button" class="btn btn-success">Complete</button>
                        </td>
                        <td>
                            <button onclick="window.location.href='editar-registro/{{ registro.id }}'" type="button" class="btn btn-info">Editar</button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

</body>
</html>